<div class="footer">
    <!--Facebook likes -->
    <div class="fb-like" data-send="true" data-width="300" data-show-faces="true"></div>

    <!-- Google + -->
    <div class="g-plusone white" data-annotation="inline" data-width="300"></div>
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

    <!-- Twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=594819643946068";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="center">
      &copy <%= link_to t('.taras'), 'https://www.facebook.com/taras.bychko', :target => '_blank', :style=>"color: #34495E"%>
     </div>
     <small class="pull-right">
      2013 - <%= Time.now.year %>
    </small>
    <br/>

    <small class="tiny center" >
      &copy <%= link_to t('.designed_by'), 'https://www.facebook.com/tanosatap', :target => '_blank', :style=>"color: #34495E"%>
    </small>
</div>



