<div class="home-header">
    <h4 class="inline">
      <%= t('.title') %>
    </h4>
    <ul class="list-inline pull-right" style="margin-top: 20px;">
      <li><%= link_to t('.home'), root_path %></li>
      <li><%= link_to t('.gallery'), gallery_index_path %></li>
      <li><%= link_to t('.blog'), '#' %></li>
      <li><%= link_to t('.contacts'), '#' %></li>
      <li><%= link_to t('.about'), '#' %></li>
      <li>
        <%= link_to image_tag('en.gif'), params.merge(:locale => "en") %>
        <%= link_to image_tag('ua.png'), params.merge(:locale => "ua" )%>
      </li>
    </ul>
</div>

