<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% active = 'active' %>
    <% @rooms.each do |room| %>
      <%= content_tag :div, :class =>  "item #{active}" do -%>
        <% active = '' %>
        <%= image_tag "top-beach-hd-wallpaper.jpg" %>
        <div class="carousel-caption">
          <%= link_to t(".#{room.name}"), "/gallery/#{room.name}" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<script type="text/javascript" >
    $(document).ready(function() {
        $('.carousel').carousel()
    });
</script>