// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.home-header {
  font-style: normal;
  margin-top: 20px;
}

.inline {
  display: inline-block;
}

.white {
  color: #fffs;
}

.footer {
  margin-top: 10px;
  border-top: 1px solid #fff;
}

.tiny {
  font-size: 60%;
}

a {
  color: #7b7b7b !important;
}
.center {
  text-align: center;
  padding-top: 10px;
}

.carousel-indicators li{
  max-width:25%;
  max-height:15%; /*or any other percentage that would look good*/
  cursor: pointer;
  text-align:center;
}
