<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie9"><![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--> <html> <!--<![endif]-->
    <head>
      <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
      <title>Taras Bychko</title>
      <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
      <%= stylesheet_link_tag "vendor/flat-ui", :media => "all" %>
      <%= csrf_meta_tags %>
    </head>
    <body>

      <div id="fullPage" class="container">
        <%= render :partial => 'shared/header' %>
      </div>
      <%= yield %>
      <div id="fullPage" class="container">
        <%= render :partial => 'shared/footer' %>
      </div>

        <%= javascript_include_tag "application" %>
    </body>
</html>
